<div class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul>
            <li class="pure-menu-item"><a href="/#about" class="pure-menu-link">About</a></li>
        </ul>
    </div>
    <p class="site-right">那些年踩过的坑 ©2016 fixedbug.com 版权所有: ICP备16061680号-1</p>
</div>
<!--baidu start-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?6cd3eef64006d3d815563fd3dfa18cbe";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!--baidu end-->