<div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="">

    </div>
    <div class="header">
        <h1 class="brand-title">Fixed bug</h1>
        <h2 class="brand-tagline"></h2>

        <nav class="nav">
            <ul class="nav-list">
            <volist name="categorys" id="category">
                <li class="nav-item">
                    <a class="pure-button" href="__MODULE__/c/{$category.id}">{$category.name}</a>
                </li>
            </volist>
                </ul>
            <!--<h3>前端</h3>-->
            <!--<ul class="nav-list">-->
                <!--<li class="nav-item">-->
                    <!--<a class="pure-button" href="http://purecss.io">javascript</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="pure-button" href="http://yuilibrary.com">html</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="pure-button" href="http://yuilibrary.com">css</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="pure-button" href="http://yuilibrary.com">html</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="pure-button" href="http://yuilibrary.com">html</a>-->
                <!--</li>-->
            <!--</ul>-->
        </nav>
    </div>
</div>