<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/css/lib/pure.css">
    <link rel="stylesheet" href="__PUBLIC__/css/lib/grids-responsive.css">

    <link rel="stylesheet" href="__PUBLIC__/css/lib/global.css">
    <link rel="stylesheet" href="__PUBLIC__/css/index.css">
    <title>Fixedbug</title>
</head>
<body>
    <div id="layout" class="pure-g">
        <include file='./Application/Home/View/Public/sidebar.html' />
        <div class="content pure-u-1 pure-u-md-3-4">
            <div>
                <!-- A wrapper for all the blog posts -->
                <volist name="list" id="article">
                        <article class="post">
                            <header class="post-header">
                                <img class="post-avatar" alt="Tilo Mitra&#x27;s avatar" height="48" width="48" src="/Uploads/{$article.face}">
                                <a target="_blank" href="/j/{$article.uuid}">
                                    <h2 class="post-title">{$article.title}</h2>
                                </a>

                                <p class="post-meta">
                                    By <span class="post-author">{$article.nickname}</span> under <a class="post-category post-category-design" href="__MODULE__/c/{$article.category_id}">{$article.category_name}</a>
                                </p>
                            </header>

                            <!--<div class="post-description">-->
                            <!--{$article.content}-->
                            <!--</div>-->
                        </article>
                </volist>
                {$page}
                <div class="posts">
                    <h1 class="content-subhead">hot posts</h1>
                    <section class="post">
                        <header class="post-header">
                            <!--<img class="post-avatar" alt="Eric Ferraiuolo&#x27;s avatar" height="48" width="48" src="img/common/ericf-avatar.png">-->

                            <h2 class="post-title">Incoming.....</h2>

                            <p class="post-meta">
                                By <a class="post-author" href="#">Jason</a> under <a class="post-category post-category-js" href="#">Site Building</a>
                            </p>
                        </header>

                        <div class="post-description">
                            <p>
                                站点正在建设中，敬请期待。。。<br>
                                站點正在建設中，敬請期待。 。 。<sub>google</sub><br>
                                網站正在建設中，敬請期待。。。<sub>baidu</sub><br>
                                Site is under construction, so stay tuned. . .<sub>google</sub><br>
                                Site is under construction, please look forward to...<sub>baidu</sub><br>
                                사이트는 공사중입니다, 그래서 계속 지켜봐 주시기 바랍니다. . .<sub>google</sub><br>
                                사이트 건설 중 기대해 주세요.<sub>baidu</sub><br>
                                Ejo estas sub konstruo, tiel restu atentaj. . .<sub>google</sub><br>
                                test
                            </p>
                        </div>
                    </section>
                </div>

<!--
                <div class="posts">
                    <h1 class="content-subhead">Recent Posts</h1>
                </div>
-->

                <include file='./Application/Home/View/Public/footer.html' />
            </div>
        </div>
    </div>
</body>
</html>