<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增文章</title>
</head>
<body>
    <h1>新增文章</h1>
    <form method="post" action="__URL__/add">
        <select name="category">
            <option value="1" default>HTML</option>
            <option value="2">Javascript</option>
            <option value="3">CSS</option>
        </select>
        <input name="title" placeholder="标题">
        <p>文章编辑器,<strong>Markdonw</strong>语法编辑</p>
        <textarea placeholder="内容" name="content" id="textInput" oninput="this.editor.update()"></textarea>
        <input type="hidden" name="content" id="submitInput">
        <input type="submit" value="提交">
    </form>
    <div id="preview" class=""></div>
    <script type="text/javascript" src="__PUBLIC__/js/lib/markdown.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/admin/article_new.js"></script>
</body>
</html>