<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add user</title>
</head>
<body>
    <h1>add user</h1>
    <form action="__URL__/addUser" method="post" enctype="multipart/form-data">
        <label>昵称:</label>
        <input type="text" placeholder="please type your nickname" name="nickname">
        <label>头像:</label>
        <input type="file" name="face">
        <label>微信号</label>
        <input type="text" name="wechatiId" placeholder="用于打赏">
        <label>用户名:</label>
        <input type="text" placeholder="登陆帐户" name="username">
        <label>密  码:</label>
        <input type="password" placeholder="登陆密码" name="password">
        <input type="submit" value="submit">
    </form>
</body>
</html>