<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/css/lib/pure.css">
    <link rel="stylesheet" href="__PUBLIC__/css/lib/grids-responsive.css">

    <link rel="stylesheet" href="__PUBLIC__/css/lib/global.css">
    <link rel="stylesheet" href="__PUBLIC__/css/index.css">
    <title>Fixedbug</title>
</head>
<body>
<div id="layout" class="pure-g">
    <include file='./Application/Home/View/Public/sidebar.html' />
    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <volist name="list" id="article">
                <article class="post">
                    <header class="post-header">
                        <img class="post-avatar" alt="Tilo Mitra&#x27;s avatar" height="48" width="48" src="/Uploads/{$article.face}">
                        <a target="_blank" href="/j/{$article.uuid}">
                            <h2 class="post-title">{$article.title}</h2>
                        </a>

                        <p class="post-meta">
                            By <span class="post-author">{$article.nickname}</span> under <a class="post-category post-category-design" href="#">{$article.category_name}</a>
                        </p>
                    </header>

                    <!--<div class="post-description">-->
                    <!--{$article.content}-->
                    <!--</div>-->
                </article>
            </volist>
            {$page}
            <!-- A wrapper for all the blog posts -->
            <include file="./Application/Home/View/Public/footer.html"/>
        </div>
    </div>
</div>
</body>
</html>